@model Customers.WebUI.Models.ResetPasswordViewModel

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    @Html.LabelFor(x=>x.UserName)
    @Html.EditorFor(x=>x.UserName)
    <h4>@Html.LabelFor(x=>x.PasswordQuestion)</h4>
    @Model.PasswordQuestion

    if(!string.IsNullOrEmpty(Model.PasswordQuestion))
    {
        <p>
        @Html.LabelFor(x=>x.PasswordAnswer)
        @Html.EditorFor(x=>x.PasswordAnswer)
        </p>
    }

    <hr />
	<p><button type="submit" id="user-login-button">提交</button></p>
}
